################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PromotionEngineTest/v16/Server/sqlite3
/PromotionEngineTest/bin/Debug
/.vs/PromotionEngineTest/v16
